/* =========================================
   1. SETTINGS: VARIABLES
   ========================================= */

@import "https://unpkg.com/open-props/easings.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* --- LIGHT MODE (Standard) --- */
  --bg-color: #ffffff;
  --text-color: rgb(85, 85, 85);
  --heading-color: black;
  --box-bg: #ffffff;
  --border-color: rgb(163, 163, 163);

  /* Buttons */
  --btn-bg: rgb(53, 53, 53);
  --btn-text: white;
  --btn-border: rgb(53, 53, 53);

  /* Icons & Schatten */
  --icon-filter: none;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Hover Farben */
  --link-hover: grey;

  --icon-fill: var(--heading-color);
  --icon-fill-hover: var(--border-color);

  /* Wellen Hintergrund */
  --bg-gradient: linear-gradient(135deg, #fdfbfb 0%, #b6b6b6 100%);

  /* rgba(0,0,0, 0.03) bedeutet: Schwarz mit nur 3% Sichtbarkeit */
  --pattern-color: rgba(0, 0, 0, 0.03);
}

/* --- DARK MODE --- */
body.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --heading-color: #ffffff;
  --box-bg: #1e1e1e;
  --border-color: #444444;

  --btn-bg: #ffffff;
  --btn-text: #121212;
  --btn-border: #ffffff;

  --icon-filter: invert(1) brightness(2);
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  --link-hover: #ffffff;

  --icon-fill: var(--heading-color);
  --icon-fill-hover: var(--text-color);

   /* Wellen Hintergrund */
  --bg-gradient: linear-gradient(135deg, #747474 0%, #121212 100%); 
  --pattern-color: rgba(255, 255, 255, 0.03);
}
