/* =========================================
   6. COMPONENTS: EXPERIENCE
   ========================================= */

#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: flex-start;
  gap: 0.5rem;
  
  .icon {
    cursor: default;
  }
}

@include mq(medium) {
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
}

@include mq(small) {
  article {
    font-size: 1rem;
  }
  
  .experience-sub-title {
    font-size: 1.25rem;
  }
}