/* =========================================
   6. COMPONENTS: PROJECTS
   ========================================= */

#projects {
  position: relative;
}

.color-container {
  border-color: var(--border-color);
  background: var(--box-bg);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--heading-color);
}

.project-btn {
  color: var(--heading-color);
  border-color: var(--border-color);
  background: transparent;

  &:hover {
    background: var(--heading-color);
    color: var(--bg-color);
  }
}